

.featured-image {
    max-height: 200px;
}

.featured-wrapper {
    background-color: $white;
    margin: 20px;
    

    .featured-image-wrapper {
        display: flex;
        justify-content: center;
        position: relative;
        overflow: hidden;
        // height: 200px;
        // width: 200px;
    }

    .featured-desc-wrapper {

        .featured-title {
            font-size: 1.1rem;
            font-weight: bold;
            color: $accent1;
        }

        .featured-desc {
            font-size: .8rem;
        }
    }
}