html, body {
  font-family: 'Roboto', sans-serif;
  color: $dark;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bungee Shade', ;
}

.body {
  background-color: $white; 
  color: $dark;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.description {
    max-width: 500px;
}

.homepage {
    
}