html, body {
  font-family: 'Roboto', sans-serif;
  color: $dark;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bungee Shade', ;
}

.body {
  background-color: $white; 
  color: $dark;
}

.description {
    max-width: 500px;
}

.homepage {
    
}